:root {
    --bg-secondary: #222222;
    --bg-primary: #262626;
    --text: #a3a5aa;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-primary);
    color: var(--text);
    --matter-helper-theme: 165, 117, 98;
    --matter-onsurface-rgb: 163, 165, 170;
}
#main-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: max-content 1fr max-content / minmax(18rem, 25%) minmax(18rem, 25%) 1fr;
}
.matter-textfield-outlined > input:focus, .matter-textfield-outlined > textarea:focus {
    border-top-color: transparent !important;
}
#main-grid *, #settings-body * {
    --matter-helper-theme: 165, 117, 98 !important;
    --matter-onsurface-rgb: 163, 165, 170 !important;
}

#sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: var(--bg-secondary);
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.3rem;
    padding: 0 0.8rem 0 0.8rem;
    grid-template-rows: min-content min-content 1fr;
}
#sidebar-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.5rem;
}
#sidebar-buttons button {
    width: 100%;
}
#sidebar-playlists {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
#playlist-bar-wrapper {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    background: var(--bg-secondary);
    height: 100%;
}
#playlist-bar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    background: transparent;
}
#playlist-scroll-wrap {
    border-top-left-radius: 1rem;
    background: var(--bg-primary);
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.songitem {
    height: min-content;
    padding: 0.2rem 0.5rem 0.2rem 0rem;
    display: grid;
    grid-template: 1.5rem 1.5rem / 3rem minmax(0%, 100%) 1.5rem
}
.songitem-cover-wrap {
    height: auto;
    width: auto;
    box-sizing:border-box;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: 0.2rem;
    border-radius: 0.3rem;
    position: relative;
}
.songitem-cover, .songitem-cover-placeholder {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}
.songitem-cover {
    position: absolute;
    z-index: 2;
    top: 0;
    object-fit: scale-down;
}
.songitem-cover::selection {
    background: transparent;
}
.songitem-cover-placeholder {
    background-image: url("img/placeholder.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.songitem-remove {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.songitem-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.songitem-aa {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 0.8rem;
    display: flex;
    max-width: auto;
    align-items: center;
    margin-left: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*border-bottom: 1px solid #383838;*/
}
.songitem-album {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.songitem-artist {
    width: auto;
    flex: none;
}
.songitem-aa, .songitem-album, .songitem-artist, .songitem-title {
    font-stretch: condensed;
}


#playlist-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem 0px 1rem;
}
#titleh {
    flex-grow: 1;
    text-align: center;
    margin-right: 0.5rem;
    width: auto;
    word-wrap: break-all;
    word-break: break-word;
    line-height: 1.5rem ;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#playlist-name-wrapper {
    margin-right: 0.5rem;
    flex-grow: 1;
    width: 100%;
}
#main-screen {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: var(--bg-primary);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
}
#command-line {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background: var(--bg-secondary);
}
#command-line-label {
    margin-bottom: 6px;
    width: 100%;
    margin-right: 6px;
}
#command-line-wrapper, #autocomplete {
    width: 100%;
    display: flex;
}
#autocomplete {
    align-items: center;
    padding-right: 0.2rem
}

#button-bar {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background: var(--bg-secondary);
    border-top-left-radius: 1rem;
    padding: 0.6rem 0 0.5rem 0.6rem;
    display: flex;
    align-items: center;
    height: min-content !important;
}
/*scrollbars*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
    padding: 0rem 0.1rem 0rem 0.1rem;
}
::-webkit-scrollbar-thumb {
    background-color: #3f3533;
    border-radius: 10px;
}

/*buttons*/
#select-folder {
    flex-grow: 1;
}
#settings {
    margin-right: .5rem;
    cursor: pointer;
    user-select: none;
}
#gen, #prg, #save {
    transition: color 0.5s;
}
#scrap, #playlist-name-submit, #playlist-name-cancel, #new, .mdiconbutton {
    display: flex;
    justify-content:center;
    align-items:center;
    width: min-content;
    min-width: min-content;
    max-width: min-content;
    padding: 0px 8px 0px 8px !important;
}
.mdicontext {
    display: flex;
    justify-content:center;
    align-items:center;
}
.ml {
    margin-left: .2rem
}
.mr {
    margin-right: .2rem
}
.fullwidth {
    width: 100%
}
.flex-end {
    justify-self: flex-end;
}
.btn-active {
    color: rgb(103, 165, 139);
}

/*settings*/
#settings-body {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #a57562;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    min-width: 40rem;
    background: var(--bg-primary);
    max-height: 90%;
    overflow-y: auto;
}
.settingsclose {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 2rem;
    right: 1rem;
    font-weight: bold;
    z-index: 5;
}
#settings-header {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--bg-primary);
    z-index: 3;
    padding: 0.5rem;
    border-bottom: 2px solid var(--bg-secondary)
}

/*pills*/
.pill {
    max-height: 2rem;
    background-color: gray;
    border-radius: 100rem;
    width: max-content;
    padding: 0.3rem;
    color: var(--bg-secondary);
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0 0.3rem 0.3rem 0;
}
.closepill {
    background-color: darkgray;
    border-radius:100rem;
    border: none;
    margin-left: 0.3rem;
    outline: none !important;
}
.closepill:active {
    background-color: rgb(124, 124, 124);
}
#settings-exts, #settings-ign {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.settings-bar {
    display: flex;
    width: 100%;
}
.settings-bar label {
    flex-grow: 1;
}
.settings-button {
    height: auto !important;
    max-height: unset !important;
    margin-top: 6px;
    margin-left: 0.3rem;
}
#settings-submit {
    margin-top: 0.3rem;
}

.noselect {
    user-select: none !important;
}

/*song preview*/
#song-preview {
    display: grid;
    grid-template-rows: 0.3fr 1.5fr 0fr 0.8fr 0fr 0.8fr 0.3fr;
    grid-template-columns: 8rem 1fr;
    height: 8rem;
    width: 100%;
}
#sp-cover-wrap, #sp-cover-placeholder {
    grid-row: 1 / 8;
    grid-column: 1 / 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.5rem;
}
#sp-cover-placeholder {
    background-image: url("img/placeholder.png");
    border-radius: 0.5rem;
}
#sp-cover {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: contain;
}
#sp-title {
    grid-row: 2 / 3;
    grid-column:  2 / 3;
    font-size: 1.3rem;
    padding-top: 0.5rem;
}
#sp-artist {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}
#sp-album {
    grid-row: 6 / 7;
    grid-column: 2/ 3;
    display: flex;
    align-items: center;
}
#sp-title, #sp-artist, #sp-album {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*autocomplete*/
.autocomplete-result-list {
    position: absolute;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    background: #282828;
    list-style: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
    max-height: calc(100vh - 110%) !important;
}

[data-position=below] .autocomplete-result-list {
    margin-top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
}

[data-position=above] .autocomplete-result-list {
    margin-bottom: -1px;
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
}

.autocomplete-result {
    cursor: default;
    padding: 5px;
    /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");*/
    background-repeat: no-repeat;
    background-position: 12px
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected=true] {
    background-color: rgba(165, 117, 98, 0.2)
}
.rotate {
    animation-name: rotate;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

/*hr with text*/
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5rem;
    opacity: .5;
    margin: 0.3rem;
}
.hr-text:before {
    content: '';
    background: var(--text);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: var(--text);
    background-color: var(--bg-primary);
}
.hr-text.hr-secondary:after {
    background-color: var(--bg-secondary);
}
  
/*small extract from w3 css*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.w3-serif{font-family:serif}.w3-sans-serif{font-family:sans-serif}.w3-cursive{font-family:cursive}.w3-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}